* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
/*   background-color:black */
}

.container{
  text-align: center;
}

.main{
	display: flex;
	margin-left: 40%;
}


@media only screen and (min-width: 768px) {
	/* For mobile phones: */
	[class*="col-"] {
		width: 100%;
	}
	.container{
		text-align: center;
	}
  }

